<app-createnotice></app-createnotice>
<div class="cont">
    <table>
        <tr>
            <td>
                <button mat-raised-button color="primary" routerLink="/cse">CSE</button>
            </td>
            <td>
                <button mat-raised-button color="primary" routerLink="/ece">ECE</button>
            </td>
            <td>
                <button mat-raised-button color="primary" routerLink="/me">ME</button>
            </td>
        </tr>
    </table>
</div>
<div style="width: 100%;margin: auto;">
    <router-outlet></router-outlet>
</div>